{% extends "base.html" %}
{% if data %}
    {% for main_item in data %}
            <div class="card text-white bg-secondary mb-3" style="max-width: 18rem;">
                    <div class="card-header">{{ main_item[location]}}</div>
                    <div class="card-body">
                    <h5 class="card-title">{{ main_item.location}}</h5>
                    <p class="card-text">Start Time: {{main_item.date_start}}, End Time: {{main_item.date_end}}, Quantity: {{main_item.quantity}}</p>
                    <button>Send Request</button>
                    </div>
                </div>
    {% endfor %}
{% endif %}